body , html{
    /* background-color: rgb(146,179,180); */
    background: url("../images/lights.jpg");
    
    background-position: center;
    background-repeat: repeat;
    background-size: cover;

    font-family: 'Hanalei Fill', cursive;
	font-size: 20px;
    font-style: bold;
   
}

.jumbotron-fluid { 
    background: url("../images/logo_noTxt_2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    /* width: 1400px;; */
    height: 600px;
    z-index: 99;

    position: relative;
    clear: both;
}

#logIn{
    position: absolute;
    float: right;
    right: 0;
    top: 0;
}

#myCanvas{
    font-size: 10px;
    /* width: 120%;
    text-align: center; */
    /* background-color: white; */
    position: absolute;
    float: right;
    right: 0;
    top: 0;
    /* max-width: 60%; */
}
#head-giphy-bird{
    position: absolute;
    float: left;
    bottom: 0;
    left: 100%;
    height: 30%;
    -webkit-animation-name: birdWalk;
    -webkit-animation-duration: 15s; /* Safari 4.0 - 8.0 */
    -webkit-animation-iteration-count: infinite; /* Safari 4.0 - 8.0 */
}
@keyframes birdWalk {
    0%   {left:0;}
    /* 25%  {left:30%;}
    50%  {left:50%;}
    75%  {left:70%;} */
    100% {left: 100%;}
}

#head-giphy-dance{
    position: absolute;
    float: right;
    bottom: 0;
    right: 5%;
    /* left: 80%; */
    height: 40%;
}


#card-quiz-area{
    background: url("../images/quizCard.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    height: 600px;

    font-size: 30px;
    font-style: bold;
    color: white; 

}
.custom-control-input{
    top: 4;
}

#card-signIn-area{
    background: url("../images/signIn_720px_noTxt.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-right: 20%;
    height: 500px;

    position: relative;
}
#sign-in-form{

    position: absolute;    
    bottom: 5%;
}

.answer{
    position: relative;
}
#submit-answer{
    position: absolute;
    bottom: 5%;
    right: 5%;
}

.scoreBox{
    background-color: rgb(250,145,176);
}



